alexa-ac/alexa-ac.flow
[{"id":"3b143260.9ec95e","type":"tab","label":"AC ON/OFF","disabled":false,"info":""},{"id":"89ad9815.088b88","type":"debug","z":"3b143260.9ec95e","name":"","active":true,"console":"false","complete":"true","x":108,"y":279,"wires":[]},{"id":"30f8050a.5bf28a","type":"switch","z":"3b143260.9ec95e","name":"dispatch by command","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"SetTemperatureRequest","vt":"str"},{"t":"eq","v":"GetTemperatureRequest ","vt":"str"}],"checkall":"false","outputs":6,"x":249,"y":854,"wires":[["d35f2e2f.2ea8b"],[],[],[],[],[]]},{"id":"d35f2e2f.2ea8b","type":"exec","z":"3b143260.9ec95e","command":"/home/pi/bin/broadlink.sh","addpay":false,"append":"AC.off","useSpawn":"true","timer":"15","oldrc":false,"name":"AC.off","x":486,"y":822,"wires":[[],[],[]]},{"id":"5265411f.7896d","type":"function","z":"3b143260.9ec95e","name":"update temperature","func":"var TEMP_DEFAULT = 27\n\nvar temp = global.get(\"temp\") || TEMP_DEFAULT;\n\nmsg.wind = (msg.name !== \"エアコン\") ? \"full\" : \"auto\";\n\nswitch(msg.command) {\n    case \"TurnOffRequest\":\n        global.set(\"tep\", TEMP_DEFAULT);\n        msg.payload = 0;\n        node.status({text: 'OFF'});\n        return msg;\n        break;\n    case \"TurnOnRequest\":\n        break;\n    case \"IncrementTargetTemperatureRequest\":\n    case \"DecrementTargetTemperatureRequest\":\n        temp += msg.payload;\n        break;\n    case \"SetTargetTemperatureRequest\":\n        temp = msg.payload;\n        break;\n    default:\n        node.error(\"Error\", \"Unknown msg.command\");\n        msg.payload = null;\n        node.status({text: 'Error'});\n        return msg;\n}\n\ntemp = Math.min(temp, 29);\ntemp = Math.max(temp, 24);\n\nglobal.set(\"temp\", temp);\nnode.status({text: 'temp: ' + temp + 'C'});\n\nmsg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":418,"wires":[["5fa23a10.695314","a440cbd3.f2dbb8","64edd397.97d4dc","a8d32c38.1ecc3"]]},{"id":"86fc34f6.4a9ee8","type":"function","z":"3b143260.9ec95e","name":"set exit code","func":"msg.payload = (msg.payload != null)\nreturn msg;","outputs":1,"noerr":0,"x":691,"y":822,"wires":[[]]},{"id":"d89e22b5.976e","type":"switch","z":"3b143260.9ec95e","name":"is GetTemperatureRequest ?","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"GetTemperatureRequest","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":412,"y":263,"wires":[["3dc1c815.589218"],["5265411f.7896d"]]},{"id":"3dc1c815.589218","type":"function","z":"3b143260.9ec95e","name":"Set temp response","func":"temp = global.get(\"temp\") || 27;\n\nmsg.payload = true;\n\nmsg.extra = {\n    targetTemperature: {\n        value: temp\n    },\n    temperatureMode: {\n        value: \"COOL\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":717,"y":196,"wires":[[]]},{"id":"d7dbdc9d.3851d","type":"debug","z":"3b143260.9ec95e","name":"","active":true,"console":"false","complete":"false","x":988,"y":642,"wires":[]},{"id":"5fa23a10.695314","type":"function","z":"3b143260.9ec95e","name":"Set temp response","func":"var temp = global.get(\"temp\") || 27;\n\nmsg.payload = (msg.payload != null);\n\nmsg.extra = {\n    targetTemperature: {\n        value: temp\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":338,"wires":[["5340fba8.4a0fe4"]]},{"id":"5340fba8.4a0fe4","type":"debug","z":"3b143260.9ec95e","name":"","active":true,"console":"false","complete":"true","x":943,"y":359,"wires":[]},{"id":"5a43402b.24e89","type":"inject","z":"3b143260.9ec95e","name":"Turn off at 1AM","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 01 * * *","once":false,"x":128,"y":639,"wires":[["64edd397.97d4dc","a8d32c38.1ecc3"]]},{"id":"a8d32c38.1ecc3","type":"function","z":"3b143260.9ec95e","name":"get remote command file","func":"if (msg.payload === 0) {\n    msg.payload = \"AC.off\";\n} else if (m
