incoming-phone/incoming-phone.flow
[{"id":"f9063cc0.7720d","type":"tab","label":"Notify phone call","disabled":false,"info":""},{"id":"299c2337.82492c","type":"exec","z":"f9063cc0.7720d","command":"baresip","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Notify phone call by baresip","x":153,"y":205.5,"wires":[[],["5aa19425.092aec"],["54c1f479.4ac39c","7a85f7ff.a28568"]]},{"id":"a6cbb43e.72a6d8","type":"debug","z":"f9063cc0.7720d","name":"","active":true,"console":"false","complete":"true","x":758,"y":418,"wires":[]},{"id":"c6c4dd29.99f43","type":"http request","z":"f9063cc0.7720d","name":"LINE Notify via IFTTT webhook","method":"POST","ret":"txt","url":"","tls":"","x":743,"y":581,"wires":[[]]},{"id":"5aa19425.092aec","type":"function","z":"f9063cc0.7720d","name":"Get incoming phone number","func":"var phonenum = msg.payload.match(/from: (\\d+) sip/);\n\nif (phonenum) {\n    msg.payload = phonenum[1];\n    msg.phonenum = phonenum[1];\n    node.status({text:msg.payload});\n} else {\n    // node.status({text:''});\n    return null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":468,"y":311,"wires":[["be7cdaf3.9f7958","8cdd87.5aebf278"]]},{"id":"be7cdaf3.9f7958","type":"debug","z":"f9063cc0.7720d","name":"","active":true,"console":"false","complete":"false","x":780,"y":311,"wires":[]},{"id":"9724781d.d554e8","type":"inject","z":"f9063cc0.7720d","name":"startup trigger","topic":"","payload":"dummy","payloadType":"str","repeat":"","crontab":"","once":true,"x":111,"y":66,"wires":[["299c2337.82492c"]]},{"id":"54c1f479.4ac39c","type":"delay","z":"f9063cc0.7720d","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":146,"y":374,"wires":[["299c2337.82492c"]]},{"id":"7a85f7ff.a28568","type":"debug","z":"f9063cc0.7720d","name":"","active":true,"console":"false","complete":"false","x":422,"y":220,"wires":[]},{"id":"8cdd87.5aebf278","type":"http request","z":"f9063cc0.7720d","name":"電話帳ナビアクセス","method":"GET","ret":"txt","url":"https://www.telnavi.jp/phone/{{{payload}}}","tls":"","x":448,"y":422,"wires":[["c8649a5b.5b2868","a6cbb43e.72a6d8"]]},{"id":"c8649a5b.5b2868","type":"function","z":"f9063cc0.7720d","name":"Get description","func":"// msg.payload : content of http response\n// msg.phonenum : phone number\n\nvar description = msg.payload.match(/<meta name=\"description\" content=\"(.*?)\"/);\n\nmsg.description = description;\n\nif (description && 0 <= description[1].indexOf(msg.phonenum)) {\n    description = description[1];\n} else {\n    description = \"電話番号\" + msg.phonenum + \"の情報はありません。\";\n}\n\nmsg.payload = {\n value1: description,\n value2: \"電話帳ナビ: https://www.telnavi.jp/phone/\" + msg.phonenum\n};\n\nnode.status({text: description});\n\nreturn msg;","outputs":1,"noerr":0,"x":426,"y":516,"wires":[["be7cdaf3.9f7958","ac17b1b1.5bac7","ee9327bc.717808"]]},{"id":"ac17b1b1.5bac7","type":"function","z":"f9063cc0.7720d","name":"Get name of caller","func":"var caution = msg.payload.value1.match(/【(迷惑電話度\\d*%)/);\nvar caller = msg.payload.value1.match(/（([^0-9].*?)）/);\nvar message = '';\n\nif (caution && 0 < caution[1].length) {\n    message = caution[1] + '。';\n}\n\nif (caller && 0 < caller[1].length) {\n    caller = caller[1];\n    message = message + caller + '　から電話です。';\n} \n\nif (0 === message.length) {\n    return null;\n}\n\nnode.status({text: message});\n\nmsg.payload = message + message;\n\nreturn msg;","outputs":1,"noerr":0,"x":438,"y":644,"wires":[["bcef469e.f7e968"]]},{"id":"eb56d7e.95f0928","type":"inject","z":"f9063cc0.7720d","name":"test data","topic":"","payload":"{\"value1\":\"【迷惑電話度77% (オレオレ)は\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":375,"y":724,"wires":[[]]},{"id":"bcef469e.f7e968","type":"link out","z":"f9063cc0.7720d","name":"Speak name of caller","links":["32fd5b36.bca094"],"x":625.5,"y":645,"wires":[]},{"id":"ee9327bc.717808","type":"cred
