earthquake-warning/earthquake-detector.json
[{"id":"c4551de9.d4c12","type":"tab","label":"Earthquake detector","disabled":false,"info":""},{"id":"cc0055a.44a74a8","type":"websocket in","z":"c4551de9.d4c12","name":"epsp v2 WebSocket API","server":"","client":"feb0476b.7aabe8","x":120,"y":100,"wires":[["b3aa6791.d2f8b8"]]},{"id":"7727ccf4.688724","type":"debug","z":"c4551de9.d4c12","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"msg.payload.code & \": \" & msg.payload.time","statusType":"jsonata","x":390,"y":160,"wires":[]},{"id":"4e6863d6.6a812c","type":"link out","z":"c4551de9.d4c12","name":"","links":["d56d508e.5b56f"],"x":95,"y":500,"wires":[]},{"id":"81723ab7.5b12b8","type":"switch","z":"c4551de9.d4c12","name":"filter code value","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"554","vt":"num"},{"t":"eq","v":"9611","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":160,"y":220,"wires":[["7727ccf4.688724","1cfca53d.0b91bb"],["1b65e34f.d1030d","7727ccf4.688724"]]},{"id":"1b65e34f.d1030d","type":"function","z":"c4551de9.d4c12","name":"check confidence and area","func":"node.status({fill:\"grey\", shape:\"dot\", text:msg.payload.time});\n\n// Skip if confidence is too low\nif (msg.payload.confidence == 0) {\n    return;\n}\n\nif (msg.payload.area_confidences != null) {\n    Object.keys(msg.payload.area_confidences).some(area => {\n        // Skip if confidence of this area is too low\n        if (msg.payload.area_confidences[area].confidence <= 0) {\n            return;\n        }\n\n        // Skip \"E\" and \"F\" level if midnight (0AM - 6AM)\n        const now = new Date();\n        if (now.getHours() < 6) {\n            if ([\"E\",\"F\"].find(display => display == msg.payload.area_confidences[area].display)) {\n                node.status({fill:\"yellow\", shape:\"dot\", text:area + \":\" + msg.payload.time});\n                return;    \n            }\n        }\n\n        area = parseInt(area);\n\n        // Check area code\n        // https://github.com/p2pquake/epsp-specifications/blob/master/epsp-area.csv\n        // 000 - : Hokkaido\n        // 100 - : Tohoku\n        // 200 - : Kanto\n        // 300 - : Hokuriku\n        // 400 - : Toukai\n        // 440 - : Kinki\n        // 500 - : Chugoku\n        // 600 - : Kyusyu\n        // 700 - : Okinawa\n\n        // Kanto and Yamanashi\n        if ((200 <= area && area < 300) ||\n            (340 <= area && area < 350)) {\n            node.status({fill:\"green\", shape:\"dot\", text:area + \":\" + msg.payload.time});\n            node.send(msg);\n            return true;\n        } else {\n            node.status({fill:\"grey\", shape:\"dot\", text:area + \":\" + msg.payload.time});\n        }\n    });\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":220,"wires":[["1cfca53d.0b91bb"]]},{"id":"6126b9de.1c2e48","type":"debug","z":"c4551de9.d4c12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"msg.payload.code & \": \" & msg.payload.time","statusType":"jsonata","x":570,"y":100,"wires":[]},{"id":"b3aa6791.d2f8b8","type":"json","z":"c4551de9.d4c12","name":"","property":"payload","action":"obj","pretty":false,"x":310,"y":100,"wires":[["6126b9de.1c2e48","81723ab7.5b12b8"]]},{"id":"d14bcf05.b5b3a","type":"inject","z":"c4551de9.d4c12","name":"code 9611 test","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"    {         \"area_confidences\": {             \"205\": {                 \"confidence\": 0.003538059801329441,                 \"count\": 1,                 \"display\": \"E\"             },             \"231\": {                 \"confidence\": 0.0006342473796780861,                 \"count\": 1,                 \"display\": \"E\"             },             \"241\": {                 \"confidence\": 0.001168743973123604,                 \"count\": 1,                 \"display\": \"E\"             },             \"250\": {                 \"confidence\": 0.0008781817638189633,                 \"count\": 2,                 \"display\": \"E\"             },             \"270\": {                 \"confidence\": 0.005277375610907661,                 \"count\": 3,                 \"display\": \"E\"             },             \"275\": {                 \"confidence\": 0.03863176917788614,                 \"count\": 4,                 \"display\": \"E\"             },             \"411\": {                 \"confidence\": 0.002897744561083219,                 \"count\": 1,                 \"display\": \"E\"             }         },         \"code\": 9611,         \"confidence\": 0.98052,         \"count\": 13,         \"id\": \"61a170d6adc2d40dc85f66a8\",         \"started_at\": \"2021/11/27 08:41:48.037\",         \"time\": \"2021/11/27 08:42:14.662\",         \"updated_at\": \"2021/11/27 08:42:14.241\",         \"user-agent\": \"userquake-aggregator 20200713\",         \"ver\": \"20200713\"     }","payloadType":"str","x":120,"y":40,"wires":[["b3aa6791.d2f8b8"]]},{"id":"1cfca53d.0b91bb","type":"delay","z":"c4551de9.d4c12","name":"rate limit 30secs per message","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"32","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":210,"y":320,"wires":[["1fd59dbd.93f042"]]},{"id":"1fd59dbd.93f042","type":"delay","z":"c4551de9.d4c12","name":"rate limit 300secs per alert","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"300","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":380,"wires":[["befa710b.32c3a"]]},{"id":"befa710b.32c3a","type":"credentials","z":"c4551de9.d4c12","name":"Set devicename or IP address of Google Nest Hub","props":[{"value":"hostnames","type":"msg"}],"x":270,"y":440,"wires":[["4e6863d6.6a812c"]]},{"id":"feb0476b.7aabe8","type":"websocket-client","path":"wss://api.p2pquake.net/v2/ws","tls":"","wholemsg":"false"}]