earthquake-warning/nest-hub-earthquake-map.json
[{"id":"e5e078f9.d9fdd8","type":"tab","label":"Google Nest Hub earthquake map","disabled":false,"info":""},{"id":"4af9fa31.1208d4","type":"mqtt in","z":"e5e078f9.d9fdd8","name":"Google Assistant 地震情報","topic":"googlehome/earthquake_info","qos":"1","datatype":"utf8","broker":"ba1ff91c.ce2698","nl":false,"rap":false,"x":170,"y":140,"wires":[["a6a1d12c.9adb"]]},{"id":"a6a1d12c.9adb","type":"credentials","z":"e5e078f9.d9fdd8","name":"Set devicename or IP address of Google Nest Hub","props":[{"value":"hostnames","type":"msg"}],"x":550,"y":140,"wires":[["2895ba66.7cac46"]]},{"id":"95503bd8.d93668","type":"exec","z":"e5e078f9.d9fdd8","command":"catt","addpay":"payload","append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"catt command","x":360,"y":360,"wires":[[],[],["3b0f5f0e.59f15"]]},{"id":"2895ba66.7cac46","type":"function","z":"e5e078f9.d9fdd8","name":"Set cast parameter for Google Nest Hub","func":"// INPUT\n//  msg.hostnames: comma separated host names of Google Nest Hub\n\n// Handle to send to multiple devices here\nif (msg.hostnames) {\n    msg.hostnames.split(',').forEach(host => {\n        if (host && host.trim()) {\n            newMsg = RED.util.cloneMessage(msg);\n            newMsg.payload = '-d ' + host.trim() + ' cast_site http://' + global.get('ip_address') + ':1880/earthquake';\n            stopMsg = RED.util.cloneMessage(msg);\n            stopMsg.payload = '-d ' + host.trim() + ' stop';\n            node.send([newMsg, stopMsg]);\n        }\n    });\n    \n    return null;\n}\n\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":260,"wires":[["d505cddd.6463","ecfb0e0b.46ee1"],["55068eb5.5c80e"]]},{"id":"51804039.79e96","type":"template","z":"e5e078f9.d9fdd8","name":"realtime-earthquake-monitor","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <style>\n            .outer-container {\n                width:100%;\n                height:100%;\n                margin-top:220px;\n                margin-left:270px;\n                transform:rotate(90deg);\n                -webkit-transform:rotate(90deg);\n            }\n            \n            .inner-container {\n               width:600px;\n               height:1024px;\n               transform-origin:top left;\n               -webkit-transform:scale(1.6,1.6);\n               transform:scale(1.6,1.6);\n            }\n        </style>\n    </head>\n    <body>\n        <div class=\"outer-container\">\n            <iframe seamless class=\"inner-container\" src=\"http://www.kmoni.bosai.go.jp/\">\n            </iframe>\n        </div>\n    </body>\n</html>","output":"str","x":400,"y":460,"wires":[["b96bf00c.c4f85"]]},{"id":"a45e260a.83b518","type":"http in","z":"e5e078f9.d9fdd8","name":"","url":"/earthquake","method":"get","upload":false,"swaggerDoc":"","x":140,"y":460,"wires":[["51804039.79e96"]]},{"id":"b96bf00c.c4f85","type":"http response","z":"e5e078f9.d9fdd8","name":"","statusCode":"","headers":{},"x":630,"y":460,"wires":[]},{"id":"5ef8b63d.8c8ad8","type":"inject","z":"e5e078f9.d9fdd8","name":"Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["a6a1d12c.9adb"]]},{"id":"d505cddd.6463","type":"tcp out","z":"e5e078f9.d9fdd8","host":"localhost","port":"50007","beserver":"client","base64":false,"end":false,"name":"catt_service","x":150,"y":360,"wires":[]},{"id":"d56d508e.5b56f","type":"link in","z":"e5e078f9.d9fdd8","name":"","links":["4e6863d6.6a812c"],"x":35,"y":200,"wires":[["2895ba66.7cac46"]]},{"id":"beaa7c74.cf867","type":"hostip","z":"e5e078f9.d9fdd8","name":"Host IP","x":340,"y":520,"wires":[["14a333fa.ae4b6c","4e207b04.ec9be4"]]},{"id":"14a333fa.ae4b6c","type":"function","z":"e5e078f9.d9fdd8","name":"Store IP address into global","func":"var address = '';\n\nif (msg.payload[0] && msg.payload[0].address) {\n    address = msg.payload[0].address;\n    node.status({text: 'IP addr: ' + address});\n    \n} else {\n    node.status({text: 'No IP address found'});\n}\n\nglobal.set('ip_address', address);\n\nreturn msg;","outputs":1,"noerr":0,"x":591,"y":521,"wires":[[]]},{"id":"d89e70e5.56366","type":"inject","z":"e5e078f9.d9fdd8","name":"startup trigger","repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":138,"y":521,"wires":[["beaa7c74.cf867"]]},{"id":"4e207b04.ec9be4","type":"delay","z":"e5e078f9.d9fdd8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":344,"y":609,"wires":[["beaa7c74.cf867"]]},{"id":"ecfb0e0b.46ee1","type":"debug","z":"e5e078f9.d9fdd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":240,"wires":[]},{"id":"55068eb5.5c80e","type":"delay","z":"e5e078f9.d9fdd8","name":"","pauseType":"delay","timeout":"29","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":280,"wires":[["d505cddd.6463"]]},{"id":"3b0f5f0e.59f15","type":"debug","z":"e5e078f9.d9fdd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":360,"wires":[]},{"id":"ba1ff91c.ce2698","type":"mqtt-broker","name":"","broker":"mqtt.beebotte.com","port":"8883","tls":"","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"2","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]