google-home-notifier/google-home-notifier.json
[{"id":"4f98cc14.8a3424","type":"tab","label":"Google Home Notification","disabled":false,"info":"# Notifiy by Google Home\nInputs:\n- msg.payload : Text to notify or audio URL if msg.audio\n\nSetup:\n- Set Google Home IP address if you have trouble finding your Google Home\n- open 'google-home-notifier wrapper' then edit language and volume. "},{"id":"2859a4cd.800f8c","type":"function","z":"4f98cc14.8a3424","name":"google-home-notifier wrapper","func":"// Google Home Notification wrapper\n// Input:\n//   msg.payload : Text to speak or URL if msg.audio == true\n//   msg.audio : true if msg.payload is audio URL\n// Output:\n//   Unchanged msg. Sent when the notification has been finished.\n\nconst googlehome = context.global.googlehomenotifier;\nconst language = 'ja';\n\n// Comment out the line below if you don't override volume level of notification\nconst volume = 0.6; // between 0 and 1\n\nif (msg.ipaddress) {\n    googlehome.ip(msg.ipaddress, language);\n}\ngooglehome.device('Google Home', language);\nif (volume) {\n    googlehome.volume(volume);\n}\n\nif (msg.audio) {\n    // Audio message\n    var url = msg.payload;\n    node.status({text: 'Playing: ' + url});\n\n    googlehome.play(url, function(res) {\n      node.status({text: res});\n      node.send(msg);\n    });\n} else {\n    // Normal text message\n    node.status({text: 'Speaking: ' + msg.payload});\n\n    googlehome.notify(msg.payload, function(res) {\n      node.status({text:res});\n      node.send(msg);\n    });\n}\n\nreturn null;","outputs":1,"noerr":0,"x":472,"y":439,"wires":[["1c63f6ff.49a729","e09e779c.5061c8"]]},{"id":"9a411b7d.609898","type":"inject","z":"4f98cc14.8a3424","name":"","topic":"","payload":"読み上げのテスト","payloadType":"str","repeat":"","crontab":"","once":false,"x":158,"y":296,"wires":[["9729c213.c3305"]]},{"id":"9729c213.c3305","type":"semaphore-take","z":"4f98cc14.8a3424","config":"91951c32.8b8da","name":"","x":391,"y":295,"wires":[["6ec22b45.dc3674","8e0e3fc6.ff63d"]]},{"id":"e09e779c.5061c8","type":"semaphore-leave","z":"4f98cc14.8a3424","config":"91951c32.8b8da","name":"","x":875,"y":294,"wires":[["ba4c6f9.ed8889"]]},{"id":"6ec22b45.dc3674","type":"trigger","z":"4f98cc14.8a3424","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"30","extend":true,"units":"s","reset":"","name":"timeout 30s","x":639,"y":295,"wires":[["e09e779c.5061c8"]]},{"id":"ba4c6f9.ed8889","type":"function","z":"4f98cc14.8a3424","name":"clear timeout","func":"msg.reset = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":747,"y":209,"wires":[["6ec22b45.dc3674"]]},{"id":"1c63f6ff.49a729","type":"debug","z":"4f98cc14.8a3424","name":"","active":true,"console":"false","complete":"false","x":847,"y":437,"wires":[]},{"id":"cb53d872.9dca68","type":"catch","z":"4f98cc14.8a3424","name":"","scope":["8e0e3fc6.ff63d","2859a4cd.800f8c"],"x":843,"y":384,"wires":[["e09e779c.5061c8"]]},{"id":"8e0e3fc6.ff63d","type":"credentials","z":"4f98cc14.8a3424","name":"Google Home IP address","props":[{"value":"ipaddress","type":"msg"}],"x":417,"y":371,"wires":[["2859a4cd.800f8c"]]},{"id":"32fd5b36.bca094","type":"link in","z":"4f98cc14.8a3424","name":"Google home notification","links":["6a2fe52c.159b1c","bcef469e.f7e968"],"x":230,"y":218,"wires":[["9729c213.c3305","a9ee9265.c68ab"]]},{"id":"a9ee9265.c68ab","type":"debug","z":"4f98cc14.8a3424","name":"","active":true,"console":"false","complete":"false","x":381.5,"y":218,"wires":[]},{"id":"91951c32.8b8da","type":"semaphore-config","z":"","name":"speak","capacity":"1"}]
